<h1>Who are you?</h1>
<p>
  Hiya! I am Iggy. I am a Rails and JS developer.
  In addition to developing mouth-watering apps, I have a passion for everything sweet, including donuts.
  Especially donuts. I remember one night when me and my wife were sitting down and we were craving donuts.
  Well, mostly me. I remember the pain of finding donut shops around us:
  1. Go to google
  2. Type in "donut shop near me"

  or
  
  1. Go to Google
  2. google yelp
  3. Type "donuts" in Find and our city name under Near
  4. Search through donut list

  Why so many steps? I thought if I can reduce the steps down to two, that would made my life easier.
  1. Go go donutify
  2. Type city, get donut places

  This is why I created donutify, and I want to share this to other fellow donut-lovers out there.
  Enjoy!
</p>
